body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Красивый шрифт */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #000; /* черные границы */
    padding: 10px;
    text-align: center;
    width: 50px; /* ширина ячейки */
    height: 50px; /* высота ячейки */
}
