<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap">
</head>
<body>
    <div class="container">
        <h1>Select the Number of Letters:</h1>
        <div class="buttons">
            <a href="{{ url_for('game', letters=3) }}"><button class="green-button">3 буквы</button></a>
            <a href="{{ url_for('game', letters=4) }}"><button class="green-button">4 буквы</button></a>
            <a href="{{ url_for('game', letters=5) }}"><button class="green-button">5 букв</button></a>
        </div>
    </div>
</body>
</html>
